#[rustler::nif(schedule = "DirtyCpu")]
pub fn {{ clear_fn }}(_env: rustler::Env<'_>) -> rustler::Atom {
    match {{ host_path }}() {
        Ok(_) => rustler::atoms::ok(),
        Err(_) => rustler::atoms::error(),
    }
}
