let mut {{ options_param }}_core: {{ core_options_type }} = {{ options_param }}.map(|s| serde_json::from_str::<{{ core_options_type }}>(&s).unwrap_or_default()).unwrap_or_default();
            let bridge = {{ struct_name }}::new(env, pid, visitor_term);
            {{ options_param }}_core.{{ field_name }} = Some(std::sync::Arc::new(std::sync::Mutex::new(bridge)) as {{ handle_path }});
