    #[frb(sync)]
    pub fn {{ config_name }}(&mut self{{ method_params }}) -> &mut Self {
        let mut guard = self.inner.blocking_lock();
        if let Some(inner) = guard.as_mut() {
            inner.{{ config_name }}(
{%- for param in configurator_params %}
                {{ param.name }},
{%- endfor %}
            );
        }
        drop(guard);
        self
    }
