public func {{ function_name }}({{ params }}) async{{ throws_clause }}{{ return_clause }} {
    return {{ effective_try }}await Task.detached(priority: .userInitiated) {
{{ conversion_lines }}{{ body }}    }.value
}
