    let _rb_json = RustBridge.{{ function_name }}({{ args }}).toString()
    let _rb_data = _rb_json.data(using: .utf8) ?? Data()
    return (try? JSONDecoder().decode({{ decode_type }}.self, from: _rb_data)) ?? nil
