let {{ name }}_core: Option<Vec<{{ core_path }}>> = {{ name }}.map(|v| {
            let json = serde_json::to_string(&v){{ err_conv }}?;
            serde_json::from_str(&json){{ err_conv }}
        }).transpose()?;
