    /**
     * {{ config_method }}.
     * Invokes C FFI: {{ ffi_prefix }}_{{ service_snake }}_{{ config_method_snake }}
     */
    public void {{ config_method }}({{ params_signature }}) {
        try {
            MemorySegment cfgAddr = LOOKUP.find("{{ ffi_prefix }}_{{ service_snake }}_{{ config_method_snake }}")
                .or(() -> LOOKUP.find("_{{ ffi_prefix }}_{{ service_snake }}_{{ config_method_snake }}"))
                .orElseThrow();
            FunctionDescriptor cfgDesc = FunctionDescriptor.of(
                ValueLayout.ADDRESS,   // return: *mut opaque
                ValueLayout.ADDRESS    // owner: *mut opaque
{% for layout in descriptor_layouts %}
                , {{ layout.0 }}    // {{ layout.1 }} param
{% endfor %}            );
            MethodHandle cfgHandle = LINKER.downcallHandle(cfgAddr, cfgDesc);
            ownerHandle = (MemorySegment) cfgHandle.invoke(ownerHandle
{% for arg in invoke_args %}
                , {{ arg }}
{% endfor %}            );

        } catch (Throwable e) {
            throw new RuntimeException("Failed to configure", e);
        }
    }
