  /**
   * {{ doc }}
   */
  {{ variant_name }}({{ sig }}): (fn: (...args: any[]) => any) => (...args: any[]) => any {
{{ wrapper_code }}    return (fn: (...args: any[]) => any) => {
      this._app.{{ variant_name }}({{ native_args }}, fn);
      return fn;
    };
  }
