match nodecontext_to_js_object(&self.env(), {{ ref_prefix }}{{ name }}) {
    Ok(o) => o.to_unknown(),
    Err(_) => unsafe {
        let r = napi::bindgen_prelude::ToNapiValue::to_napi_value(
            self.env().raw(),
            napi::bindgen_prelude::Null,
        )
        .unwrap_or(std::ptr::null_mut());
        napi::bindgen_prelude::Unknown::from_raw_unchecked(self.env().raw(), r)
    }
}
